{name, "erlsha2"}.
{authors, ["Steve Vinoski <vinoski@ieee.org>"]}.
{description, "SHA-224, SHA-256, SHA-384, SHA-512 implemented in Erlang NIFs"}.
{homepage, "https://github.com/vinoski/erlsha2#readme"}.
{rebar_compatible, true}.
{license, "[Package License]", "[Optional Package License File]"}.
{url, {git, "https://github.com/vinoski/erlsha2.git", {branch, "master"}}}.
{applications, [erlsha2]}.
